<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bs.john_li.bsfslotmachine">

    <!-- Required -->
    <permission
        android:name="com.bs.john_li.bsfslotmachine.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.bs.john_li.bsfslotmachine.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 仅网络定位的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--shareSDK的權限-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:name=".BSSMUtils.BSSMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BSSMTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name=".SplashActivity"
            android:theme="@style/BaseTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BSSMActivity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.PersonalSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.WalletActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.WalletFQAActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.WalletRechargeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.WithDrawalActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.TransactionDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.DiscountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.OverdueDiscountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.HistoryOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.CarListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.ChooseCarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.CourseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.OpinionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.GuoJiangLongActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SlotMachineListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SlotMachineChildListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SearchSlotMachineActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.ParkingOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SearchSlotMachineListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.CreditCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.ChooseOrderTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.AddCarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Forum.PublishForumActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Forum.CommentsListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.PaymentAcvtivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bs.john_li.bsfslotmachine.wxapi.WXPayEntryActivity" android:screenOrientation="portrait" android:exported="true"/>
        <activity android:name=".BSSMActivity.Forum.ArticleDetialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.CarRechargeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Forum.OwnArticalListACtivty" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.OrderDetialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.ForgetPwActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.AboutUsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.PaymentAgreementActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.ServiceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.RegisterFQAActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.WithDrawalDeitalActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.ShareActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.ChooseDiscountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.CarWashActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.MerchatSetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.CarPartsSetListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.SellerCarPartsSetListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.CarPartSetDetialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.SecondHandCarListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.CarWashOrderListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.CarWashOrderDetialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.ApplyForRefundActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.OwnCarListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.PublishOwnSecondCarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.SecondCarDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.SellerDesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.SellerDetialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.CarService.GenerationDrivingActivity" android:screenOrientation="portrait"/>


        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- QQ的activity -->
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".BSSMActivity.Parking.InputUnknowSlotMachineActivity" />

        <!--版本更新所要用到的 fileProvider 用于兼容7.0通知栏的安装-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.bs.john_li.bsfslotmachine" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.bs.john_li.bsfslotmachine.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.bs.john_li.bsfslotmachine.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.bs.john_li.bsfslotmachine" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".BSSMReceiver.BSSMJpushReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.bs.john_li.bsfslotmachine" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="8fdb184a3df1a096374f5612" /> <!--  </>值来自开发者平台取得的AppKey-->


        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="24f00c70bb6c2"/>
        <meta-data android:name="Mob-AppSecret" android:value="e3860e99759647b3ad5e17b2a5c09de6"/>
    </application>

</manifest>