<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bs.john_li.bsfslotmachine">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name=".BSSMUtils.BSSMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BSSMTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BSSMActivity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.PersonalSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.WalletActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.DiscountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.HistoryOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.CarListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.ChooseCarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.OpinionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.GuoJiangLongActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SlotMachineListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SlotMachineChildListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.SearchSlotMachineActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.ParkingOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.AddCarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.HeadViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Forum.PublishForumActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Parking.PaymentAcvtivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Forum.ArticleDetialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Mine.CarRechargeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BSSMActivity.Forum.OwnArticalListACtivty" android:screenOrientation="portrait"/>
    </application>

</manifest>